$white: #fff;
$darkGrey: #222;

$selectionColor: #fea;
$selectionColorHover: #fd0;

// Cover colors
$blue: #40A7E9;
$red: #FF2F22;
$yellow: #ffC817;
$green: #33A45E;
$lightPurple: #B2B5E2;

// Index
$lightBlue: #4ec0f5;