$white: #fff;
$darkGrey: #222;

$linkColor: #fea;
$coverLinkColor: #fd0;


// Cover colors
$blue: #40A7E9;
$red: #FF2F22;
$yellow: #ffC817;
$green: #33A45E;
$lightPurple: #B2B5E2;

// Index
$lightBlue: #4ec0f5;

$darkBlue: #3058a0;

$translucentOverlay: rgba(0, 0, 0, $overlayOpacity);
$translucentShadow: rgba(0, 0, 0, $shadowOpacity);