$white: #fff;
$darkGrey: #222;
$black: #000;

$linkColor: #fea;
$coverLinkColor: #fd0;

// C64 Rainbow
$rainbow1: #C6001A;
$rainbow2: #D97C1B;
$rainbow3: #FFEC00;
$rainbow4: #81AE36;
$rainbow5: #009CDF;

// Cover colors
$blue: #40A7E9;
$red: #FF2F22;
$yellow: #ffC817;
$green: #33A45E;
$lightPurple: #B2B5E2;

// Index
$lightBlue: #4ec0f5;

$darkBlue: #3058a0;
$darkerBlue: #1e355e;

$translucentOverlay: rgba(0, 0, 0, $overlayOpacity);
$translucentShadow: rgba(0, 0, 0, $shadowOpacity);