* {
  font-family: inherit;
  line-height: inherit;
  color: inherit;
}

html {
  font-family: sans-serif;
  line-height: 1.5;
  color: #222;
  font-size: 2vw;

  @include for-tablet-landscape-up {
    font-size: 18px;
  }
}

img {
  display: block;
}

* {
  margin: 0;
}

* + * {
  margin-top: 1.5em;
}

body, br, li, dt, dd, th, td, option {
  margin-top: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: #222;

  @include for-phone-only {
    font-size: 14px;
  }
}

a:hover,
a:focus {
  background-color: $darkBlue;
}

section {
    height: 400px;
}
