.header {

  &__container {
    @include responsive-centered;
  }

  &__logo {
    width: 60%;
    margin-top: -10%;
    margin-left: -13.5%;
    transform-origin: 23% 22%;
    transform: scale(1);
    position: fixed;
    z-index: 2;

    @include for-tablet-landscape-up {
      width: 540px;
      margin-top: -90px;
      margin-left: -122px;
    }
  }

  &__navigation {
    color: #fff;
    position: fixed;
    z-index: 1;
    padding-left: 170px;
    display: none;
    height: 33px;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
    width: 100%;
    padding-top: 20px;

    &.visible {
      display: block;
    }
    
    li {
      display: inline-block;
    }
  }
}