.header {

  &.small {
    .logo {
      transform: scale(0.3);
    }
  }

  &__container {
    @include responsive-centered;
  }

  &__logo {
    width: 60%;
    margin-top: -10%;
    margin-left: -13.5%;
    transform-origin: 23% 22%;
    transform: scale(1);
    position: fixed;
    z-index: 1;

    @include for-tablet-landscape-up {
      width: 540px;
      margin-top: -90px;
      margin-left: -122px;
    }
  }
}