@mixin responsive-centered {
  margin: 0 auto;
  overflow: hidden;

  @include for-tablet-landscape-up {
    overflow: visible;
  }
}

@mixin coverpage {
    @include responsive-centered;

    @include for-tablet-landscape-up {
      width: 900px;
    }
}

@mixin contentpage($base) {
    @include responsive-centered;
    
    color: $darkGrey;
    background-color: $white;
    padding: 30px 20px;

    @include for-tablet-portrait-up {
      padding: 40px 25px;
    }

    @include for-tablet-landscape-up {
      width: 850px;
    }

    #{$base}__container {
        @include for-tablet-landscape-up {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-content: flex-start;
        }
    }

    #{$base}__section {
        flex: 0 1 48%;
    }
}
