@mixin responsive-centered {
  margin: 0 auto;
  overflow: hidden;

  @include for-tablet-landscape-up {
    overflow: visible;
  }
}

@mixin fullpage {
    @include responsive-centered;

    @include for-tablet-landscape-up {
      width: 900px;
    }
}

@mixin contentpage($base) {
    @include responsive-centered;
    
    color: $darkGrey;
    background-color: $white;
    padding: 30px 20px;

    @include for-tablet-portrait-up {
      padding: 50px 40px;
    }

    @include for-tablet-landscape-up {
      width: 820px;
    }

    #{$base}__container {
        @include for-tablet-landscape-up {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-content: flex-start;
        }
    }

    #{$base}__section {
        flex: 0 1 47%;
    }

    #{$base}__section {
        &-image {
            &odd  #{$base}__image {
              &:nth-child(1) {
                transform: rotate(7deg);
              }

              &:nth-child(2) {
                transform: rotate(-5deg);
              }
            }

            &even #{$base}__image {
                &:nth-child(1) {
                  transform: rotate(-5deg);
                }

                &:nth-child(2) {
                  transform: rotate(7deg);
                }
            }
        }
    }
}

@mixin imageshadow {
  box-shadow: 7px 8px 8px 0px rgba(0, 0, 0, 0.4);
}

@mixin infocomponent {
  padding: 0 20px 30px 20px;

  @include for-tablet-portrait-up {
    padding: 0 40px 30px 40px;
  }
}
