nav {
  @include responsive-centered;
  font-size: 180%;
  text-transform: uppercase;
  margin-top: 4%;

  @include for-tablet-landscape-up {
    margin-top: 37px;
  }

  li {
    margin-bottom: 3%;
    margin-left: 5%;

    @include for-tablet-landscape-up{
      margin-bottom: 26px;
      margin-left: 45px;
    }

    &:nth-child(1) a {
      -webkit-text-fill-color: $red;
    }

    &:nth-child(2) a {
      -webkit-text-fill-color: $yellow;
    }

    &:nth-child(3) a {
      -webkit-text-fill-color: $green;
    }

    &:nth-child(4) a {
      -webkit-text-fill-color: $lightPurple;
    }

    a {
      -webkit-text-stroke: 1.0px #000;
      font-weight: bold;
    }
  }

  small {
    font-size: 56%;
    vertical-align: middle;
    color: #fff;

    @include for-tablet-portrait-up {
      -webkit-text-stroke: 1.0px #000;
      -webkit-text-fill-color: #fff;
    }
  }
}
