.header {

  &__container {
    @include coverpage;
  }

  &__logo {
    width: 60%;
    margin-top: -10%;
    margin-left: -13.5%;
    transform-origin: 23% 22%;
    transform: scale(1);
    position: fixed;
    z-index: 100;

    @include for-tablet-landscape-up {
      width: 540px;
      margin-top: -90px;
      margin-left: -122px;
    }
  }

  &__navigation {
    display: none;
    color: $white;
    position: fixed;
    z-index: 99;
    height: 30px;
    width: 900px;
    margin: 0 auto;
    top: 32px;
    left: 0;
    right: 0;

    &.visible {
      display: block;
    }
  }

  &__navigationlist {
    background-color: $blue;
    margin-left: 102px;
    padding-left: 50px;
  }

  &__navigationelement,
  &__socialelement {
    display: inline-block;
  }

  &__navigationlink,
  &__sociallink {
    display: inline-block;

    &:hover,
    &:focus {
        background-color: $darkblue;
    }
  }

  &__navigationlink {
    padding: 9px 12px;
  }

  &__sociallist {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 40px;
  }

  &__sociallink {
    padding: 6px 12px;
  }

  &__socialimage {
    width: 23px;
  }
}