.index {
    @include contentpage(&);

    &__title {
        padding: 8px;
        background-color: $blue;
        text-transform: uppercase;
    }

    &__listcontainer {
        display: flex;
        flex-wrap: wrap;
        padding: 8px;
        margin-bottom: 20px;
    }

    &__list {
        flex: 1 1 50%;
    }

    &__item {
        line-height: 1.3;
    }

    &__link {
        background-color: $selectionColor;
        
        &:hover,
        &:focus {
            background-color: $selectionColorHover;
        }
    }

    &__imagelink {
        margin-left: 8px;
        height: 100%;
    }

    &__image {
        width: 120px;

        @include for-tablet-landscape-up {
            width: 180px;
        }
    }
}