.scans {
    @include fullpage;

    color: $white;

    &__magazine {
        padding: 50px 0;

        &__info {
            @include infocomponent;
        }

        &__issues {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
        }

        &__link {
            width: 79px;
            display: block;
        }

        &__image {
            width: 79px; //Remove after resizing images
        }

        &__issue {
            cursor: pointer;
            position: relative;
            padding: 1px;

            &padding {
                cursor: initial;

                @include for-tablet-landscape-up {
                    display: block;
                }
            }
        }

        &__link:hover .scans__magazine__issueinfo {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        &__issueinfo {
            color: #ffffff;
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: $translucentOverlay;
            z-index: 5;

            &__date {
                margin: 0;
                padding: 0;
            }

            &__number {
                font-size: 2em;
            }
        }
    }

    &__issue {
        padding: 50px 0;

        &__cover {
            display: flex;
            flex-direction: row;

            .scans__issue__detaillink {
                width: 50%;
            }

            .scans__issue__page {
                width: 100%;
            }
        }

        &__infocontainer {
            width: 50%;
        }

        &__info {
            @include infocomponent;
        }

        &__content {
            display: flex;
            flex-direction: column;
        }

        &__detaillink {
            display: flex;
        }

        &__page {
            width: 50%;
            height: 100%;
            cursor: url(/img/icons/24-zoom-in.png),auto;
        }

        &__contributorlist {
            margin: 0 46px;
        }

        &__contributor {
            line-height: 1.3;
        }

        &__icon {
            width: 26px;
            display: inline-block;
            padding-right: 10px;
            vertical-align: middle;
        }
    }

    &__loader {
        position:fixed;
        top:0px;
        bottom:0px;
        left:0px;
        right:0px;
        z-index:1;
        background: rgba(80, 144, 208, 0.7) repeat left;

        &__image {
            width: 288px;
            height: 230px;
            line-height: 0;
            display: block;
            position: fixed;
            left: 50%;
            top: 50%;
            margin-left: -144px;
            margin-top: -115px;
            z-index: 1000;
        }
    }

    #reader {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #000;
        z-index: 10;
        height: 100%;
        overflow: hidden;
        width: 100%;
    }

    #reader .content {
        width: 1024px;
        height: 1500px;
    }

    #reader .double {
        width: 2048px;
    }

    #reader_left {
        cursor: url(/img/icons/24-arrow-previous.png),auto;
    }

    #reader_right {
        cursor: url(/img/icons/24-arrow-next.png),auto;
    }

    #reader .content img {
        float: left;
    }

    #reader_navigator {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 38px;
        background-color: $translucentOverlay;
        color: #ffffff;
        padding-top: 12px;
        text-align: center;
    }

    #reader_navigator strong {
        color: #fff;
    }
    #reader_info_magazine {
        position: absolute;
        left: 0;
        top: 12;
        padding-left: 24px;
    }

    #reader_close_button {
        position: absolute;
        top: 12;
        right: 0;
        padding-right: 24px;
    }
}

.overlay .scans {
  display: none;
}