.scans {
    @include coverpage;

    &__magazines {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        &__image {
            display: block;
            width: 99%;
        }
    }

    .hide {
        display: none;
    }

    .space {
        margin-right: 0.5em;
    }

    .lazy {
        display: none;
    }

    .overlay {
        position:fixed;
        top:0px;
        bottom:0px;
        left:0px;
        right:0px;
        z-index:1;
        background: rgba(80, 144, 208, 0.7) repeat left;
    }

    #pages .container {
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    #pages .doublepage img {
        cursor: url(/img/icons/24-zoom-in.png),auto;
    }

    #pages .container:hover {
        background-color: #e0e0e0;
    }

    .doublepage img.thumb {
        float: left;
        width: 235px;
        overflow: hidden;
    }

    .doublepage img.first {
        padding-left: 235px;
    }

    #reader {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #000;
        z-index: 10;
        height: 100%;
        overflow: hidden;
        width: 100%;
    }

    #reader .content {
        width: 1024px;
        height: 1500px;
    }

    #reader .double {
        width: 2048px;
    }

    #reader_left {
        cursor: url(/img/icons/24-arrow-previous.png),auto;
    }

    #reader_right {
        cursor: url(/img/icons/24-arrow-next.png),auto;
    }

    #reader .content img {
        float: left;
    }

    #reader_navigator {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 38px;
        background-color: rgba(0, 0, 0, 0.5);
        color: #ffffff;
        padding-top: 12px;
        text-align: center;
    }

    #reader_navigator strong {
        color: #fff;
    }
    #reader_info_magazine {
        position: absolute;
        left: 0;
        top: 12;
        padding-left: 24px;
    }

    #reader_close_button {
        position: absolute;
        top: 12;
        right: 0;
        padding-right: 24px;
    }

    .issues_array_issue,
    .issues_array_empty {
        height: 121px;
        cursor: pointer;
        position: relative;
    }

    .issues_array_empty {
        background-color: #ddd;
    }

    .issue_array_overlay_style {
        color: #ffffff;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 85px;
        height: 89px;
        background-color: rgba(0,0,0,0.6);
        text-align: center;
        z-index: 5;
        padding-top: 30px;
    }

    .issue_array_overlay_style p {
        margin: 0;
        padding: 0;
    }

    .issue_array_overlay_number {
        font-size: 2em;
    }

    .issues_array_empty {
        cursor: pointer;
    }

    .scan_loader_box {
        width: 288px;
        height: 230px;
        line-height: 0;
        /* Center position */	
        display: block;
        position: fixed;
        left: 50%;
        top: 50%;
        margin-left: -144px;
        margin-top: -115px;
        z-index: 1000;
    }
}