.content {
  @include contentpage(&);

  h2 {
    margin-top: 0;
  }

  ol {
    @include reset-lists;

    margin: 20px;
    list-style-type: decimal;

    li {
      margin-left: 40px;
    }
  }

  ul {
    @include reset-lists;

    // margin: 20px;
  }

  li {
      line-height: $lineHeight;
  }

  li + li {
    margin-top: 20px;
  }

  &__date {
    margin-bottom: 8px;
    display: inline-block;
    color: $lightBlue;
  }

  &__author {
    display: block;
    font-size: 18px;
    font-style: inherit;
  }

  &__section {
    padding-bottom: 40px;
  }

  &__showcase {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-around;
    margin-top: 10%;

    @include for-tablet-portrait-up {
      margin-top: 52px;
    }
  
    @include for-tablet-landscape-up {
      margin-top: 30px;
    }

    & .contentimage {
      margin-top: 0;
    }
  }

  &__embed {
    margin-top: 30px;

    iframe,
    .twitter-tweet {
      margin-left: auto;
      margin-right: auto;
      display: inherit;
      max-width: 100%;
    }

    .content__loader {
      background-image: url($pathAssets + 'c64_loader.gif');
      max-width: 500px;
      height: 250px;
      background-size: 100% 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__box {
    background-color: $yellow;
    padding: 20px;
    margin: 20px -20px;
    
    @include for-tablet-portrait-up {
      margin: 40px -40px;
      padding: 40px;
    }
    @include for-tablet-landscape-up {
      margin: 20px -40px 20px 20px;
      border-radius: 40px 0 0 40px;
      float: right;
      width: calc(50% - 40px);
    }

    h3 {
      margin-top: 0;
    }
  }
}

.overlay .content {
  display: none;
}