.content {
  @include contentpage(&);

  &__section {
    padding-bottom: 60px;
  }

  & .content__imagelink {
    @include resettextlinkcontent;
    @include imagelink;
  
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    margin-bottom: 10%;

    @include for-tablet-portrait-up {
      margin-top: 41px;
      margin-bottom: 52px;
    }

    @include for-tablet-landscape-up {
      margin-top: 20px;
      margin-bottom: 30px;
    }
  }

  &__image {
    width: 100%;
    margin: auto;
  }
}

.overlay .content {
  display: none;
}