$bookmarkWidth: 40;

.dynamicnavigation {
  @include fullpage;

  display: none;

  @include for-tablet-landscape-up {
    display: block
  }

  position: relative;
  z-index: 1;

  &__container {
    @include reset-lists;

    position: fixed;
    top: 150px;
    right: 0;
    
    @include for-tablet-landscape-up {
      right: initial;
      left: 50%;
      transform: translate(450px);
    }
  }

  &__bookmark {
    width: #{$bookmarkWidth}px;
    height: 40px;
    line-height: 1;
    border-radius: 6px 0 0 6px;
    animation-duration: 0.5s;
    animation-name: bookmark-in;
    
    @include for-tablet-landscape-up {
      border-radius: 0 6px 6px 0;
    }

    &:nth-child(5n + 1) {
      background-color: $rainbow1;
    }

    &:nth-child(5n + 2) {
      background-color: $rainbow2;
    }

    &:nth-child(5n + 3) {
      background-color: $rainbow3;
      color: $darkGrey;
    }

    &:nth-child(5n + 4) {
      background-color: $rainbow4;
    }

    &:nth-child(5n) {
      background-color: $rainbow5;
    }

    a {
      position: absolute;
      right: 0;
      padding: 11px;
      width: max-content;
      text-align: right;
      background-color: inherit;
      border-radius: 6px 0 0 6px;
      opacity: 0;
      clip-path: polygon(
        calc(100% - #{$bookmarkWidth}px) 0%, 100% 0%,
        100% 100%, calc(100% - #{$bookmarkWidth}px) 100%);
      @include navigationshadow;

      @include for-tablet-landscape-up {
        border-radius: 6px;
      }

      &:hover {
        opacity: 1;
        clip-path: none;
      }
    }
  }

  &__bookmark + &__bookmark {
    margin-top: 20px;
  }

  @keyframes bookmark-in {
    from {
      width: 0;
    }

    to {
      width: 40px;
    }
  }

}
