.footer {
  @include contentpage(&);
  @include textlink($blue, $white);

  color: $white;
  background-color: $black;

  &__navigation {
    margin-top: 20px;

    a + a {
      margin-left: 10px;
    }
  }
}

.overlay .footer {
  display: none;
}