.game {
  @include contentpage(&);

  &__content {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    padding-bottom: 20px;
  }

  &__details {
    margin-bottom: 20px;
  }

  &__property {
    font-weight: bold;
    margin-right: 10px;
  }

  &__genre {
    display: inline;
    padding-left: 0;
  }

  &__genreitem {
    display: inline-block;
  }

  &__genreitem + &__genreitem {
    margin-left: 10px;
  }

  &__thumbimage img {
    width: 225px;
    height: auto;
  }

  &__versions {
    padding: 0 20px;
    margin: 0;
  }

  &__versionsitem {
    list-style: none;
  }

  &__review {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 225px;
    height: auto;
  }

  &__global {
    @include textoverlayshadow;
    position: absolute;
    z-index: 1;
    font-size: 150%;
    color: $white;
    pointer-events: none;
  }
}
