.games {
  @include contentpage(&);

  &__search {
    display: flex;
    margin: 20px 0;
  }

  &__searchfield {
    flex-basis: 100%;
    padding: 8px 10px;
    border: $blue solid 2px;
  }

  &__results {
    padding: 0 20px;
    margin: 40px 0;
  }

  &__resultsitem {
    display: block;
  }

  &__resultsitem + &__resultsitem {
    margin-top: 10px;
  }

  &__publisher {
    padding-left: 10px;
    color: $blue;

    &::before {
      content: "℗";
      padding-right: 4px;
    }
  }

  &__more {
    @include button;
  }
}
