.index {
  @include contentpage(&);

  &__container {
    @include for-tablet-landscape-up {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-content: flex-start;
    }
  }

  &__section {
    flex: 0 1 47%;
  }

  &__listtitle {
    margin-top: 0;
    line-height: 1;
    font-weight: normal;
    background-color: $blue;
    text-transform: uppercase;
  }

  &__listcontainer {
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
    margin-bottom: 20px;
  }

  &__list {
    @include reset-lists;

    flex: 1 1 50%;
  }

  &__item {
    line-height: $lineHeight;
  }

  &__item + &__item {
    padding-top: 15px;
  }

  & .index__listtitle {
    @include resettextlink;

    a {
      display: block;
      padding: 8px;
    }
  }

  & .index__imagelink {
    @include resettextlinkcontent;
    @include imagelink;

    margin: 12px -2px 0 0;
    height: 100%;
  }

  &__image {
    width: 120px;

    @include for-tablet-landscape-up {
      width: 180px;
    }
  }
}

.overlay .index {
  display: none;
}