.reader {
  position: relative;

  &__content {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &__side {
    overflow-y: auto;
    flex-shrink: 0;
    background-color: $black;
  }

  &__spreads {
    display: flex;
    overflow: auto;
  }

  &__spreads,
  &__reader_side {
    padding-top: 101px;
  }

  &__navigator {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $translucentOverlay;
    padding: 14px 20px;
    text-align: center;
    z-index: 1;
  }

  &__info {
    padding: 0;
    margin: 0;
  }

  &__close {
    position: absolute;
    top: calc(50% - 13px);
    right: 20px;
  }

  &__navigation {
    margin: 14px 46px 0;   

    &-page {
      flex-basis: 22px;
      opacity: $readerNavigationPageOpacity;
      
      &:hover,
      &:focus {
        opacity: 1;
      }

      &-actual {
        opacity: 1;
      }

      img {
        width: 16px;
      }

      &-container {
        @include reset-lists;

        display: flex;
        justify-content: center;
      }
    }
  }

  &__closeicon {
    width: $iconSize;
  }

  &__first {
    cursor: w-resize;
  }

  &__last {
    cursor: e-resize;
  }

  &--singlepage {
    .reader__navigation {
      display: none;
    }

    .reader__spreads,
    .reader__side {
      padding-top: 65px;
    }

    .reader__first {
      cursor: initial;
    }
  
    .reader__last {
      cursor: initial;
    }
  }
}